.container-1{
    border: 1px solid black;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.flex-box-rps{
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-box-rps img:hover{
    box-shadow: 0px 10px 50px rgba(37,50,233,1);
}